@model IEnumerable<User>

<div class="btn-group-justified toolbar">
    <input type="button" id="BlockBtn" class="btn btn-danger" value="Block" />
    <button class="btn btn-success" id="UnblockBtn"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button>
    <button class="btn btn-warning" id="DeleteBtn"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button class="btn btn-danger" id="QuitBtn">Quit</button>
</div>
<table class="table table-hover table-bordered">
    <thead class="thead">
        <tr>
            <th><input id="checkbox_all" type="checkbox" /></th>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Last login time</th>
            <th>Registration time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var user in Model)
                {
                    <tr class="info-table" id="@user.Id">
                        <td><input type="checkbox" /></td>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.LastLogin</td>
                        <td>@user.RegistryData</td>
                        <td>@user.Status</td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
